/* global reset */
body {
  margin: 0;
  background-color: #0f0f0f;
  color: #39ff14;
  font-family: "Fira Code", monospace;
  font-size: 24px;
}

/* make sure root cannot cause horizontal scroll */
body,
html,
#root {
  position: relative;
  z-index: 1;
  max-width: 100vw;
  overflow-x: hidden;
}

/* optional: force images never break layout */
img {
  max-width: 100%;
  height: auto;
}
